*
{
    box-sizing: content-box;    
    font-family: sans-serif;
    color: white;
}

h1, h2
{
    text-align: center;
}

h1
{
    font-size: 3rem;
}

h2
{
    font-size: 1.5rem;
}

body
{
    margin: 0;
    background-color: rgb(96, 123, 192);
}

#input
{
    display: block;
    margin: 0 auto;
    width: 60%;
    height: 30px;
    font-size: 1rem;
    color: gray;
    
}

#button
{
    background-color: black;
    margin: 0 auto;
    width: 100px;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    cursor: pointer;
}

#output
{
    color: rgb(155, 255, 202);
}